.slide {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/assets/slide.jpg");
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 5vh;
    text-align: center;
    color: white;
  }
}

